@(article: models.Article)

<ul>
    <li>
        @article.articleid
    </li>
    <li>
        To the Journal's article web page: <a href="@article.arturl">@article.journal</a>
    </li>
    <li>
        Year: @article.year
    </li>
    <li>
        Author: @article.author
    </li>
    <li>
        Title: <strong>@article.title</strong>
    </li>
</ul>

<hr>
Abstract
<br>
<textarea rows="15" cols="100">
@article.textabs
</textarea>
<br>
<hr>
Fulltext
<br>
<textarea rows="50" cols="100">
@article.fulltext
</textarea>
